/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.media-container img {
	max-width: 100%;
	height: auto;
}

.media-placeholder {
	background-color: #e7e7e7;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.media-container {
	position: relative;
	height: 250px;
	width: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #e7e7e7;
}

.large-button {
	width: 100%;
	font-size: 1.2em;
	justify-content: center;
	height: 44px;
}